.container-flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-com {
  background-color: white;
  padding: 0.5rem;
  margin: 2rem 0;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #999999;
}

.card {
  box-shadow: 0px -2px 7px #ECECEC;
}
.card .com p {
  margin-left: 10px;
}
.card img {
  max-height: 600px;
  object-fit: contain;
}

.hidden {
  display: none;
  height: 0;
}

.findBar {
  background-color: lightgray;
  padding: 1rem;
}

.success {
  border: 2px solid green;
}

.error {
  border: 2px solid red;
}

img {
  max-width: 100%;
  max-height: 400px;
}

video {
  max-height: 800px;
}

.form-publication {
  background-color: #FFF;
  box-shadow: 0px -2px 7px #ECECEC;
  padding: 2rem;
  margin: 1rem 0;
}

.container-checkbox-input {
  display: flex;
  box-shadow: 0px -2px 7px #ECECEC;
  background-color: #f9f9f9;
}
.container-checkbox-input div {
  padding: 2rem;
}

.pop-up-delete {
  transition: 1s;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(236, 236, 236, 0.9);
  z-index: 50;
}
.pop-up-delete h2 {
  padding-top: 5%;
  text-align: center;
}
.pop-up-delete div {
  padding: 3% 30%;
  display: flex;
  justify-content: space-around;
}

.title-com {
  display: flex;
  justify-content: space-between;
}

.pointer:hover {
  cursor: pointer;
}

.link {
  color: #0d6efd;
  font-weight: bold;
}

#root h2 {
  padding: 2rem 0;
}

.container-like {
  display: flex;
}
.container-like p {
  word-wrap: break-word;
}

.animation__icon {
  display: flex;
  margin-top: 30px;
}
@media (max-width: 365px) {
  .animation__icon {
    margin-top: 15px;
  }
  .animation__icon .icon {
    font-size: 1em !important;
  }
  .animation__icon .icon_animation {
    font-size: 1em !important;
  }
  .animation__icon .masque {
    width: 20px !important;
    height: 20px !important;
  }
}
.animation__icon .checkbox_cache {
  display: none;
}
.animation__icon .icon__content label {
  display: block;
}
.animation__icon .icon__content .icon {
  z-index: 3;
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 1px black;
  font-size: 2em;
}
.animation__icon .icon__content .masque {
  z-index: 2;
  display: block;
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #f8f9fa;
  transform: translateY(-5px);
  border-radius: 35%;
}
.animation__icon .icon__content .icon_animation {
  z-index: 1;
  background: -webkit-linear-gradient(50deg, #0d6efd, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  font-size: 2em;
}
.animation__icon .checkbox_cache:checked + .icon__content .icon {
  content: "";
  animation: bordure-coeur 0.5s forwards;
}
.animation__icon .checkbox_cache:checked + .icon__content .masque {
  animation: icon-coeur 1.5s forwards;
  animation-timing-function: ease-in;
}

@keyframes icon-coeur {
  from {
    transform: translateY(-5px) rotate(0deg) scale(1);
  }
  to {
    transform: translateY(-95%) translateX(-4px) rotate(180deg);
  }
}

/*# sourceMappingURL=app.css.map */
